#container {
    padding: 10px;
    position: relative;
}

#mainLogo {
    height: 24px;
    margin-left: 7px;
    padding: 5px;
}

.autocomplete-suggestion {
    padding: 4px;
    list-style-type: none;
    font-weight: bold;
    font-size: 0.7em;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.autocomplete-suggestion-even {
    background-color: #f4f5f7;
}

.autocomplete-suggestion-odd {
    background-color: #87b5dd;
}

.autocomplete-suggestion-first {
    border-top: 1px solid white;
}

.autocomplete-suggestion-last {
    border-bottom: 1px solid white;
}

.autocomplete-container {
    width: 280px;
    position: absolute;
    z-index: 20;
    left: 7;
    top: 15;
}

/* for dropdown lists, to make them hands */
.autocomplete-container li { cursor: pointer; }

.autocomplete-container li:hover {
    color: white;
    background-color: #0e0944;
}

.infoWindow {
    font-size: 0.8em;
    color: #08183F;
}

.mapView {
    width: 100%;
    height: 500px;
}

.mapViewActive {
    position: relative;
    left: 0%;
    z-index: 10;
}

.mapViewInactive {
    position: relative;
    height: 0px;
    display: none;
    z-index: 0;
}

#tabContainer {
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    background-color: #081d3f;
    font-family: Helvetica, Arial;
}

.tabLink {
    display: inline-block;
    padding: 10px;
    color: white;
}

.tabLink:hover {
    cursor: pointer;
}

#tabLoadImage {
    width: 20px;
    padding: 0px;
}

.activeTabLink {
    background-color: #0d5bdb;
}

.payerFilterContainer {

}

.payerFilterContainer li {
    padding: 4px;
    list-style-type: none;
    font-weight: bold;
}

.payerFilterContainer a {
    cursor: pointer;
    padding: 4px;
    color: hotpink;
    text-decoration: none;
    font-weight: bold;
}

.payerFilterContainer a:hover {
    color: #081d3f;
}

.tight-btn {
    background-color: #081d3f;
    color: white;
}

.slider {
    width: 60%;
    margin-top: 50px;
    margin-bottom: 25px;
}

/* SLIDER OVERRIDES */
.noUi-connect {
  background: #081d3f;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
