div.background-img {
    background-image: url('img/bg.jpg');
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-size: 100%;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ba3a4f;
    padding-top: 6px;
    padding-bottom: 6px;
}

.footer .footer-logo {
    float: left;
    padding-left: 12px;
}

.footer .footer-copyright {
    padding-right: 25px;
    float: right;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.6em;
}

.logo {
    display: inline-block;
}

.logoimg {
    padding-top: 15px;
    padding-left: 13px;
    width: 220px;
}

ul.nav {
   display: inline-block;
}

ul.nav li {
    display: inline-block;
    padding-left: 60px;
    color: #FFF;
    text-decoration: none;
}

ul.nav li a {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    font-weight: 200;
    padding: 2px 2px 4px 2px;
    text-decoration: none;
}

ul.nav li a:hover {
    border-bottom: 2px solid #FFF;
/*    border-top: 1px solid #FFF; */
}

.navlinks {
    float: right;
    display: inline-block;
    padding-right: 30px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-image: url('img/bg.jpg');
    background-size: 100%;
}

.navbar-links {
    color: #FFF;
    text-decoration: none;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 85px;
    width: 100%;
}

.splash {
    width: 750px;
    padding-left: 12px;
    padding-bottom: 40px;
}

.splash-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: #FFF;
    line-height: 170%;
}

.splash-sub {
    width: 94%;
    text-align: justify;
    font-size: 0.75em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    line-height: 180%;
    color: #FFF;
}

.content-block {
    background-color: #ba3a4f;
    width: 100%;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 130px;
    padding-bottom: 65px;
    border-bottom: 1px solid #FFF;
}

.content-block h2 {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 300;
    font-size: 1.5em;
}

.row {
    width: 100%;
    padding-bottom: 30px;
}

.icon-box {
    display: inline-block;
    padding-right: 32px;
}

.icon-box .icon-img-box {
    float: left;
    padding-right: 9px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.icon-box .icon-img {
    height: 45px;
}

.icon-box .icon-text {
    float: left;
    text-align: justify;
    margin-top: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 0.7em;
    color: #FFF;
    width: 300px;
}

.profile-box {
    display: inline-block;
}

.profile-box .profile-img-box {
    float: left;
    padding-right: 15px;
    padding-left: 1px;
    padding-bottom: 15px;
}

.profile-box .profile-img {
    border-radius: 50px;
    width: 125px;
}

.profile-box .profile-text {
    float: left;
    text-align: justify;
    margin-top: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 0.8em;
    color: #FFF;
    width: 60%;
}
