/**************************************
Variables
**************************************/
/**************************************
General
**************************************/
body {
  overflow-x: hidden;
}
a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0;
}
/**************************************
Margins
**************************************/
.mb0.mb0 {
  margin-bottom: 0;
}
.mb1.mb1 {
  margin-bottom: .8em;
}
.mb10.mb10 {
  margin-bottom: 10px;
}
.mb15.mb15 {
  margin-bottom: 15px;
}
.mb20.mb20 {
  margin-bottom: 20px;
}
.mb25.mb25 {
  margin-bottom: 25px;
}
.mb30.mb30 {
  margin-bottom: 30px;
}
.mb35.mb35 {
  margin-bottom: 35px;
}
.mb40.mb40 {
  margin-bottom: 40px;
}
.mb45.mb45 {
  margin-bottom: 45px;
}
/* 1/2 */
.mb50.mb50 {
  margin-bottom: 25px;
}
.mb60.mb60 {
  margin-bottom: 30px;
}
.mb70.mb70 {
  margin-bottom: 35px;
}
.mb80.mb80 {
  margin-bottom: 40px;
}
.mb90.mb90 {
  margin-bottom: 45px;
}
.mb100.mb100 {
  margin-bottom: 50px;
}
.mt0.mt0 {
  margin-bottom: 0;
}
.mt1.mt1 {
  margin-bottom: .8em;
}
.mt10.mt10 {
  margin-bottom: 10px;
}
.mt15.mt15 {
  margin-bottom: 15px;
}
.mt20.mt20 {
  margin-top: 20px;
}
.mt25.mt25 {
  margin-top: 25px;
}
.mt30.mt30 {
  margin-top: 30px;
}
.mt35.mt35 {
  margin-top: 35px;
}
.mt40.mt40 {
  margin-top: 40px;
}
.mt45.mt45 {
  margin-top: 45px;
}
/* 1/2 */
.mt50.mt50 {
  margin-top: 25px;
}
.mt60.mt60 {
  margin-top: 30px;
}
.mt70.mt70 {
  margin-top: 35px;
}
.mt80.mt80 {
  margin-top: 40px;
}
.mt90.mt90 {
  margin-top: 45px;
}
.mt100.mt100 {
  margin-top: 50px;
}
/**************************************
Sections
**************************************/
.sc-padding {
  padding: 60px 0px;
}
#who-we-are {
  padding: 80px 0 20px 0;
}
#who-we-are h3 {
  font-size: 1.7em;
  line-height: 1.3em;
  color: #7a7e81;
}
#who-we-are span {
  font-size: 38px;
  font-weight: 400;
}
#how-it-works {
  padding: 80px 0 20px 0;
  background-color: #f0eeef;
}
#team {
  padding: 80px 0 20px 0;
}
.bio-name {
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #5c8dae;
  text-transform: uppercase;
}
.information h3 {
  margin-top: 30px;
  color: #5c8dae;
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
}
.information a.btn-bio {
  border: 3px solid #5c8dae;
  padding: 18px 20px;
  border-radius: 0;
  line-height: 0px;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #5c8dae;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}
.information a.btn-bio i {
  padding-left: 10px;
}
.information a.btn-bio:hover,
.information a.btn-bio:focus {
  background-color: #5c8dae;
  color: #fff;
  border-color: #5c8dae;
  display: inline-block;
  outline: none;
}
.information a.btn-bio:hover {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.information .box {
  background-color: #f0eeef;
  color: #7a7e81;
  border-radius: 10px;
}
.information .box p {
  padding: 20px;
  font-size: 1.2em;
  font-family: 'Questrial', sans-serif;
}
#contact {
  padding: 80px 0 20px 0;
}
.section {
  width: 100%;
  padding: 80px 0 80px 0;
  display: table;
  max-width: none;
  min-height: 100vh;
}
.section .content {
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 700px) {
  .section {
    padding: 50px 0 30px 0;
  }
}
.section-small {
  width: 100%;
  display: table;
  padding: 50px 0 50px 0;
  max-width: none;
  min-height: 100vh;
}
.section-small .content-small {
  display: table-cell;
  vertical-align: middle;
}
/**************************************
Navigation
**************************************/
.navbar-default {
  background: rgba(39, 62, 84, 0.82);
  overflow: hidden;
  z-index: 3;
  box-shadow: 0px 1px 5px #000;
  padding: 20px 0px;
  border-color: transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #ffffff;
  background-color: transparent;
}
.navbar-nav {
  padding-top: 5px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-bottom: 3px solid #e43c5c;
  outline: none;
}
.navbar-default .navbar-collapse {
  border-color: transparent;
}
.navbar {
  min-height: inherit;
  margin-bottom: 0px;
  border-radius: 0;
}
.navbar-brand {
  height: inherit;
  padding: 5px;
  margin-top: 5px;
}
.navbar-default .navbar-brand {
  color: #e43c5c;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0px 10px;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: 'Questrial', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.nav > li > a {
  padding: 0px;
}
.navbar-toggle {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e43c5c;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #5c8dae;
}
nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}
nav a {
  padding-top: 20px !important;
  transition: all 0.3s ease;
}
nav.navbar.shrink {
  min-height: 35px;
  padding: 10px;
}
nav.navbar.shrink a {
  padding-top: 10px !important;
}
nav.navbar.shrink .navbar-toggle {
  margin: 8px 15px 8px 0;
  padding: 4px 5px;
}
/**************************************
Content
**************************************/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url('../images/bg.jpg') top center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#hero .hero-logo {
  margin: 20px;
}
#hero .hero-logo img {
  max-width: 100%;
}
#hero .hero-container {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.jumbo-tron {
  background-color: transparent;
  padding-top: 100px;
  overflow: hidden;
}
.jumbo-tron h1.small {
  line-height: 88px;
  border-width: 0px;
  margin: 30px 0 10px 0;
  padding: 0px;
  font-family: 'Questrial', sans-serif;
  font-size: 50px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 800;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  -moz-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  -ms-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
}
@media (max-width: 700px) {
  .jumbo-tron h1.small {
    font-size: 28px;
    line-height: 36px;
  }
}
.jumbo-tron h2 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: 2px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  -moz-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  -ms-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  .jumbo-tron h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
}
.jumbo-tron h2 span {
  font-weight: 600;
  color: skyblue;
}
.jumbo-tron p.big {
  line-height: 21px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 6px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  -moz-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  -ms-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  padding-top: 10px;
}
.jumbo-tron a.btn-banner {
  border: 3px solid #ffffff;
  padding: 18px 20px;
  border-radius: 0;
  line-height: 0px;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .jumbo-tron a.btn-banner {
    margin-top: 30px;
  }
}
.jumbo-tron a.btn-banner:focus,
.jumbo-tron a.btn-banner:active {
  outline: none;
  -moz-outline-style: none;
}
.jumbo-tron a.btn-banner i {
  padding-left: 10px;
}
.jumbo-tron a.btn-banner:hover,
.jumbo-tron a.btn-banner:focus {
  background-color: #e43c5c;
  color: #fff;
  border-color: #E74C3C;
  display: inline-block;
}
.jumbo-tron a.btn-banner:hover {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
hr {
  margin-top: 15px;
  margin-bottom: 20px;
  border: 0;
  border-top: 0;
}
.hr-btm {
  width: 80px;
  height: 3px;
  background-color: #e43c5c;
}
.page-title {
  margin-bottom: 33px;
}
.page-title h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-family: 'Questrial', sans-serif;
  color: #5c8dae;
}
.ih-item.circle {
  display: block;
  margin: auto;
}
.footer {
  background-color: #0b3b69;
  color: #ffffff;
}
.footer p {
  text-transform: uppercase;
  font-family: 'Questrial', sans-serif;
}
.footer-bottom {
  background-color: #04284a;
  padding: 30px 0;
}
.social-wrapper {
  margin-top: 30px;
}
.social-wrapper a {
  text-decoration: none;
}
.social-img {
  width: 5%;
  margin: 0 5px;
}
.social-img:hover {
  opacity: 0.8;
}
@media (min-width: 301px) and (max-width: 767px) {
  .social-img {
    width: 15%;
  }
}
/***************************************
Slopes
****************************************/
.se p {
  font-weight: 300;
  font-family: 'Questrial', sans-serif;
  font-size: 1.5em;
}
.se img {
  display: block;
  margin: auto;
}
.regular {
  margin: 10px auto;
  padding: 8% 10%;
  color: #5c8dae;
}
.slope-1,
.slope-3 {
  color: #ffffff;
  margin: 50px 0;
  padding: 8% 10%;
}
.slope-1 p,
.slope-3 p {
  font-weight: 300;
  font-family: 'Questrial', sans-serif;
  font-size: 1.5em;
}
.slope-1 img,
.slope-3 img {
  display: block;
  margin: auto;
}
.slope-1 {
  background: #e43c5c;
  position: relative;
  z-index: 1;
}
.slope-1:before,
.slope-1:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}
.slope-1:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}
.slope-1:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}
.slope-3 {
  background: #5c8dae;
  position: relative;
  z-index: 1;
}
.slope-3:before,
.slope-3:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}
.slope-3:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}
.slope-3:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}
/***************************************
Modals
****************************************/
.modal-header,
h4,
.close {
  background-color: #e43c5c;
  color: #ffffff !important;
  text-align: center;
  font-size: 25px;
}
.modal-header,
.modal-body {
  padding: 30px 50px;
}
.modal-body {
  text-align: left;
}
Animation - Zooming in the modal .modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade {
  opacity: .8;
  filter: alpha(opacity=80);
}
/***************************************
Contact Form
****************************************/
#contact {
  background: #f0eeef;
}
#contact span {
  font-style: italic;
  color: #7a7e81;
}
.text-field-box {
  background: #ffffff;
  border: 1px solid #f0eeef;
  border-radius: 10px;
  height: 60px;
  line-height: 50px;
  text-align: left;
  color: #666;
  font-size: 14px;
  padding: 0 35px;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}
textarea.form-control {
  height: 135px;
}
.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}
.button-med {
  background: #e43c5c;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #e43c5c;
  box-shadow: none;
  outline: none;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.button-med:hover {
  background: #5c8dae;
  border-color: #5c8dae;
}
/***************************************
Back to top
****************************************/
a.back-to-top {
  display: none;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: url(../images/back-top.png) center 50% no-repeat #d01d3f;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
a.back-to-top:hover {
  opacity: .7;
  transition: .5s;
}
a.back-to-top:focus {
  outline: none;
}
/***************************************
Media Queries
****************************************/
@media (min-width: 301px) and (max-width: 450px) {
  .button-medium {
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    width: 150px;
  }
  .modal-header {
    font-size: 18px;
  }
}
@media (min-width: 100px) and (max-width: 300px) {
  .button-medium {
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    width: 150px;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > li > a {
    text-align: center;
  }
  .navbar img {
    height: 15px;
  }
}
@media (min-width: 300px) and (max-width: 980px) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > li > a {
    text-align: center;
    border: 0px;
  }
  .navbar-default .navbar-nav > li > a:hover {
    border: 0px;
  }
  #who-we-are h3 br {
    display: none;
  }
}
.row-grid + .row-grid {
  margin-top: 15px;
}
.row.row-grid [class*="col-"] + [class*="col-"] {
  margin-top: 15px;
}
@media (min-width: 1200px) {
  .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
    margin-top: 0;
  }
}
/***************************************
Animate.css
****************************************/
@media only screen and (max-width: 768px) {
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
  .wow {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}
